@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: auto;
}

body {
  @apply bg-zinc-950 text-zinc-50 antialiased;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  @apply bg-zinc-200 text-zinc-950;
}
